<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Testowa forma</title>
</head>
<body>
<form action="#" th:action="@{/quiz/save}" th:object="${quizForm}" method="post">

    <!-- NazwaQuizu -->
    <div>
        <label>Nazwa quizu</label>
        <input type="text" th:field="*{name}" placeholder="Wpisz tu cos"></input>
    </div>

	 <!-- Pytanie -->
	 <!-- Odpowiedz1 -->
	 <!-- Odpowiedz2 -->
	 <!-- Odpowiedz3 -->
    <div>
        <label>Nazwa quizu</label>
        <input type="text" th:field="*{name}" placeholder="Wpisz tu cos"></input>
    </div>
    
   

	<input type="submit" value="Dodaj" />

</form>
</body>
</html>