<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="pages/admin/template">
<head>

<title>Dodawanie Pytania</title>

<script th:src="@{/js/addAnswer.js}"></script>
</head>
<body>
	<div class="main-container" layout:fragment="content">
	<form action="#" th:action="@{/quiz/save}" th:object="${quizForm}"
		method="post">

			<!-- NazwaQuizu -->
		<!-- 	<div>
				<label>Nazwa quizu</label> <input type="text"
					th:field="*{quizForm.quiz.name}"> </input>
			</div> -->

			<input type="submit" value="Dodaj" />
 				<input type="submit" name="_eventId_addQuestion" value="Dodaj pierwsze pytanie" />
		</form>
	</div>
</body>
</html>